In [1]:
import pandas as pd
import numpy as np
import sklearn.metrics
from sklearn import metrics
from sklearn.metrics import jaccard_score
import scipy
import io

In [2]:
data = pd.read_csv("p1a.csv", header = None)
data
data.head()

   0  1
0  0  0
1  1  0
2  0  0
3  0  0
4  1  0

In [3]:
data.columns=["g1", "g2"]
data

     g1  g2
0     0   0
1     1   0
2     0   0
3     0   0
4     1   0
..   ..  ..
194   0   1
195   0   0
196   1   0
197   0   0
198   0   0

[199 rows x 2 columns]

In [27]:
contingency_table = pd.crosstab(data['g1'], data['g2'], margins=True)
print("Contingency Table:", contingency_table)

Contingency Table: g2     0   1  All
g1
0    128  21  149
1     50   0   50
All  178  21  199

In [24]:
mutual_information = metrics.mutual_info_score(data['g1'],data['g2'])
print("Mutual Information", mutual_information)

Mutual Information 0.03257317770864432

In [23]:
jaccard_index = metrics.jaccard_score(data['g1'],data['g2'])
print("Jaccard index", jaccard_index )

Jaccard index 0.0

In [21]:
c, p , dof, expected = scipy.stats.chi2_contingency(contingency_table)
print("Chi2 for \"p1a.csv\"", c)
print("p",p)
print("Degree of Freedom",dof)

Chi2 for "p1a.csv" 7.87836513083478
p 0.09613683666331894
Degree of Freedom 4

In [22]:
print("Expected Value", expected)

Expected Value [[133.27638191  15.72361809 149.        ]
 [ 44.72361809   5.27638191  50.        ]
 [178.          21.         199.        ]]